<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Photo app</a>

    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">    
        <li><a href="#">Search</a></li>
        <li><a href="#">Gallery</a></li>
        <li><a [routerLink]="['/Mediator']">Mediator</a></li>
        <li><a [routerLink]="['/Forms']">Forms</a></li>
        <li><a [routerLink]="['/Contact']">Contact</a></li>
        <li><a [routerLink]="['./Contact', ['Chat']]">Chat</a></li>
        <li><a [routerLink]="['/About']">About</a></li>
      </ul>
      <timer class="pull-right timer"></timer>
    </div>

    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>
