<form [ngFormModel]="formModel" 
      (ngSubmit)="onSearch()"
      novalidate>
  <div *ngIf="true"> <!-- Workaround for https://github.com/angular/angular/issues/6374 -->    
  <div class="form-group" [class.has-error]="formModel.hasError('minlength', 'title')"> 
    <label for="title">Title:</label>
    <input id="title" 
           placeholder="Title" 
           class="form-control"
           type="text" 
           ngControl="title"
           minlength="3"

           log-directive
           [value]="searchTitle" [attr.value] = "searchTitle"
           #myTitle
           (input)="onInputSearchTitleEvent($event)" >  
   <span class="help-block" 
        [class.hidden]="!formModel.hasError('minlength', 'title')" >
        Type at least 3 characters
   </span>       
   <div *ngIf="isDev">
     <p>Current state:</p>
     <pre>
       Component property:       {{searchTitle}}
       DOM element's property:   {{myTitle.value}}
       HTML element's attribute: {{myTitle.getAttribute('value') | json}}
     </pre>
   </div>  

  </div>
  <div class="form-group" [class.has-error]="formModel.hasError('positivenumber', 'year')"> 
   <label for="year">Year:</label>
   <input id="year" 
          placeholder="Year" 
          class="form-control"
          type="number" 
          min="0" 
          step="any"
          ngControl="year"
          log-directive
          [value] = "searchYear">
    <span class="help-block"
         [class.hidden]="!formModel.hasError('positivenumber', 'year')">
     Year is not a positive number
   </span>    
         
 </div> 
 <div class="form-group">
   <label for="place">Place:</label>
   <input id="place" 
          placeholder="Place" 
          class="form-control"
          type="text"
          log-directive
          [ngFormControl]="searchCategory"
          [(ngModel)] = "searchPlace" >
 </div> 
 <div class="form-group">
    <label for="category">Category:</label>
    <select id="category" 
          class="form-control" 
          ngControl="category" 
          (change)="onSelectEvent($event)">
      <option value="-1">All categories</option>
      <option *ngFor="#c of categories" 
            [value]="c">{{c}}</option>
    </select>  
  </div> 
      
  </div>
  

  <div class="form-group">
  <button type="submit" class="btn btn-primary btn-block">Search</button>
 </div> 
</form>


<h4>Find Photo By ID Using PhotoService</h4>
<form #f="ngForm" (ngSubmit) = "getPhoto(f.value)" >
  <label for="photoID">Enter Photo ID</label>
  <input id="photoID" type="number" ngControl="photoID">
  <button type="submit">Find Photo</button>
</form>

<pre>{{ photoTitle}} {{photoYear}}</pre>



 <div *ngIf="isDev" class="well" >
  <div class="row">
    <div class="col-md-12">
      <h4> Bindings </h4>
      <textarea placeholder="Binding console" [value]="searchTextarea" class="textarea"></textarea>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <search-processor [place]="searchPlace" [year]="searchYear"> </search-processor>
    </div>
  </div>
</div> 
