<div class="nav">Nawigacja</div>

<div class="container">
  <div class="row">
    <!-- Left column contains only search form the style col-md-3 comes from
    Twitter Bootstrap grid system-->
    <div class="col-md-3 menu">
      Menu
    </div>

    <!--
      Right column which is the main area of the page contains two rows:
      1. First one keeps a carousel with featured photos
      2. Second one has a grid with photos.
    -->
    <div class="col-md-9">
      <div class="row carousel-holder">
        <div class="col-md-9 carousel">
          Karuzela zdjęć
        </div>
        <div class="col-md-3 search">
          <photo-search></photo-search>
        </div>
      </div>
      <div class="row photoList">
        Lista zdjęć
      </div>
    </div>
  </div>
</div>

<photo-footer></photo-footer>
